@import "bootstrap.less";
.paginationControl{padding: 0 0;}
.search_result_paginator { float: right; list-style: none outside none; margin:20px auto 20px; padding-top: 0; }
.search_result_paginator .text{color: #000; background: transparent;}
.search_result_paginator span,
.search_result_paginator a { color: @white; display: inline-block; font-size: 11px; font-family: "Trebuchet MS", arial; margin-right: 2px; padding: 3px 6px 4px;text-decoration: none; background: #00aeee;}

.search_result_paginator a { color: @white; }
.search_result_paginator a.back, .search_result_paginator a.next{color: #00aeee; background: @white;}
.search_result_paginator a:hover { color: @black;background: @white; }
.search_result_paginator span.active { color: @black; font-weight: bold;background: @white; }
.search_result_paginator a:last-child{border:none;}

.list_tabs{
	margin: 0;padding: 0 0 0 0;list-style: none;.clearfix();background: #fff;
	li{float: left; width: 327px;border-bottom: 1px solid #a3a3a3; padding: 0 0 1px 0;
		a{
			border-left: 1px solid #a3a3a3;
			border-right: 1px solid #fff;
			color: #FFFFFF;
			display: block;
			font-weight: bold;
			padding: 15px 0;
			text-align: center;
			text-shadow: 0 0 1px #2b7280;
			#gradient > .vertical(#7dd6f5,#2ca1af);
		}
		&:first-child a{border-left:0;}
		&:last-child a{border-right:0;}
		&.last{width: 326px;}
		&.selected{
			border-bottom: #fff;
			a{
				color: #008bbc;
				#gradient > .vertical(#d1d2d2,#ffffff);
				text-shadow: 0 0 1px #f1f1f1;
			}
		}
	}
	
}



.w-search{
	.w-title{
		padding: 0 0 20px;
		h1{
			padding: 0 0;
			border-bottom: 1px solid #80cce7;
			span{
				display: block;
			}
		}
		.b-results{
			padding: 10px 0;
			.text{
				color: #fff;
			}
			.results{
				background: #0088b8;
				padding: 2px 3px;
				color: #fff;
			}
		}		
	}
	.w-submenu-2{
		background-color: #00AEEE;
		
	
	}
	
	

	.row{.clearfix();line-height:14px;margin-bottom:0;padding:15px 0;border-bottom: 1px solid #a3a3a3;
		h4{margin-top:0px;} 
		.img{float:left;
			img{border: 1px solid #ababab;}
		}
		.info{margin-left:122px;
			h3{font-size: 17px;margin:12px 0 8px;
				a{text-decoration: underline;
					&:hover{text-decoration: none;}
				}
			}			
			.category{height: auto; overflow: hidden; margin: 0 0 5px;
				h4{font-size: 12px; color: #004961;margin:5px 0;}
				.tag{float: left;font-size:11px;padding: 2px 5px;color: #363736; background: #e8e4e4;}
			}
		}
	}
}

.w-catalogo-detalle-producto{
	.w-gallery{display: block;overflow: hidden;height: auto;
		.w-gallery-l{float: left;width: 415px;display: inline;padding: 0 0 25px 0;
			.w-gallery-principal{
				.img{
					img{
						border: 1px solid #d8d5d5;
					}
				}			
			}
			.w-gallery-thumbs{padding: 5px 0 0 0;
				a{
						
					float: left;
					margin: 2px 5px 0 0;
					text-decoration: none;
					position: relative;
					padding: 6px 0 0 0;
				
					span{
						border: 1px solid #d8d5d5;
						display: block;
					}
					img{
						display: block;
					}
					&.active{			
							background: url("img/arrow_thumb_slide.png") center top no-repeat; 
						span{
							border: 1px solid #59c7ef;
						}
					}
					&:last-child{margin-right: 0;}
				}
			}
			
		}	
		.w-gallery-r{float: left;width: 298px;margin: 0 0 0 15px;display: inline;
			h2{font-size: 22px;line-height: 22px;font-weight: bold; color: #00aeee;margin:5px 0 10px;}
			h3{font-size: 13px;font-weight: bold; color: #000;margin:5px 0;}
			.category{height: auto; overflow: hidden; margin: 0 0 10px;
				.tag{float: left;font-size:11px;padding: 2px 5px;color: #363736; background: #e8e4e4;}
			}
			p{font-size: 13px;}
		}
	
	}
	.description{	
		.list_tabs{
			li{
				width: 363px;
				&.selected:first-child{border-left: 1px solid #A3A3A3;}
				&.selected:last-child{border-right: 1px solid #A3A3A3;width: 364px;}
				
			}
		}
	
		.cnt_tabContent{padding: 10px 15px;border: 1px solid #a3a3a3;border-top:  none;position: relative;top: -2px;
			h2{font-size: 22px;line-height: 22px;font-weight: bold; color: #000;margin:5px 0 10px;}
			h3{font-size: 13px;font-weight: bold; color: #565656;margin:5px 0;
				&.highlight1{margin: 0;color: #00aeee;width: 100%;float: left;}
			}
			
			
			p{font-size: 13px;color: #565656;text-align: justify;}
			.media{
				text-align: center;
				display: block;
				margin: 25px 0;
			}
		}	
	}
}
.w-subcate-2-listado-producto{	
	.w-item{display: block; overflow: hidden;height: auto;
		.item{background: #f8f8f8 url(img/icon-arrow.png) right bottom no-repeat;padding: 1px;width: 350px;height: 102px;float: left;margin: 0 24px 24px 0;
			.img{width: 130px; float: left;
				img{
					display: block;
					border: 1px solid #e0dddd;
				}
			}
			.detail{padding-left: 140px;
				h3{font-size: 14px;margin:5px 0 5px;
					a{text-decoration: underline;
						&:hover{text-decoration: none;}
					}
				}
				p{font-size: 11px;margin: 5px 0;line-height: 13px;}
				.w-more{display: block;.clearfix();
					a{
						text-align: right;
						float: right;
						margin: 0 17px 0 0;
					}
				}
				
			}	
			&.last{margin-right: 0;}			
		}	
	}
}