/*clases generales*/
.box_l{float:left;width:640px;}
.box_r{float:right;width:323px;display:block;background-color:#eafef6;}
.mail1{font-weight:bold;color:#00aeee;border-bottom:1px solid #00aeee;}
.go{color:#00aeee;font-size:11px;border-bottom:1px solid #00aeee;}
.ir{text-align:right;margin-top: 25px;}
.fech{font-size:11px; border-right:1px solid black;float:left;margin-right:40px;padding-right:20px;}
.w-proyectos-rd{
      .box_r{padding-top:30px;
      .box_r1{padding: 0px 20px 40px 20px;width: 283px;border-bottom:1px solid white;}
      .fb-like-box{background:white;margin-top:40px;}
      .list li a {display: block;
              background-color: #f4fefa;
              border-top-color: #D8D5D5; padding: 5px 20px;}
      .list li a:hover {background-color: #00AEEE;color: white;}  }
      
      .w-content{padding-top:0px;padding-bottom:0px;}
      .coment{position:relative;
      .img1{position:absolute;left: 158px;top: 5px;}
      
      }
      .w-block-s{margin-bottom:20px;
      .img{text-align:right;}
      }
      .w-block-s1{text-align:justify;}
      .form{position:relative}
      .imput-proy{padding-left:10px;width:258px;height:34px;background-color:#8ae2bc;color:white;border:1px solid #b4b4b4;}
      .submit-proy{text-indent:-999px;background: url(img/bg-submit-proy.png) no-repeat; width:77px;height:28px;position:absolute;top:6px;right:17px;}
      }
      
      .title-v{background: url(img/bgtitle-proy.png) no-repeat; width:639px;height:26px;
      h3{color:black;text-align:center;line-height:26px;font-size:11px;font-weight:bold;display:block;background: url(img/bgtitle-vinieta.png) no-repeat; width:197px;height:26px;}
      }
      .row{text-align:justify;
        .row-l{width:528px;float:left;}
        .row-r{width:102px;float:right;}
        .r-sociales{background-color:#f6f6f6;padding: 7px;text-align:center;
        .tw{margin:20px 0px 20px 0px;}
        }
      }
  h2{padding-right: 145px;line-height: 24px;}
}