{% extends 'website/base.html' %} 

{% block content %} 
<div class="w-contacto">  

  {% include 'website/submenu.html' with title="En construccion"  %}

  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
    <div class="inner"> 
      <h3>En construcción</h3>
      <a href="/">&lt;Volver</a>
    </div> 
  </div> 
  <!-- END -->

</div>
{% endblock %}
