{% extends 'website/base.html' %} 
{% block css %}
<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/neo.css"/>  
{% endblock %}
{% block content %} 
<div class="w-proyectos-rd"> 
  <div class="w-header">
    <div class="w-title">
      <div class="inner">
        <h1>PROYECTOS REALIZADOS</h1>
      </div>
    </div>
  </div> 
  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
      <div class="inner">
        <div class="w-full-info">
        <div class="box_l">
          <div class="">
            <div class="brief">
              <div class="">
                <strong>La actualidad sobre TELVICOM  </strong> lo último en tecnología audiovisual, lanzamientos, capacitaciones, tips y notas especializadas son algunos de los temas que podrá encontrar aquí.
              </div> 
            </div>
            
            {% include 'website/pagination.html' %} 
          </div>
          <div class="w-boxes">

            {% for i in 123|make_list %} 
            <div class="box">

                <h2>LANZAMIENTO DE NUEVA PLATAFORMA DIGITAL DE RPP REALIZADA POR TELVICOM</h2> 
                <div class="fech">22 de DICIEMBRE de 2011 </div>
                <div class="coment">
                  <img class="img1" src="{{STATIC_URL}}css/img/icon-coment.jpg" width="16" height="13" />
                  <a class="go" href="#">5 comentarios</a>
                </div>
                <div class="row">
                  <div class="row-l">
                    <iframe width="527" height="324" src="http://www.youtube.com/embed/ngBcErY-XXE" frameborder="0" allowfullscreen></iframe>
                  </div>
                  <div class="row-r"> 
                  </div> 
                </div>
                <div class="row">
                  <div class="row-l">
                    <strong>El camcorder de la gama HDV Profesional de Sony más potente y ligero.</strong>
                    <p> Con un tamaño increíblemente reducido y aprovechando todas las ventajas del formato HDV 1080i, 
                        el HVR-A1E ofrece una gran cantidad de funciones avanzadas para los usuarios profesionales. 
                        La utilización de la tecnología CMOS hace que el HVR-A1E sea un camcorder ultracompacto capaz de proporcionar imágenes HDV a la máxima resolución de 1080 líneas. 
                        <a href="">leer más.</a>
                    </p>
                    <div class="social">
                      <div class="button">
                        <div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
                      </div>
                      <div class="button">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="zazk">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                      </div>
                      <div class="button">
                        <!-- Place this tag where you want the +1 button to render -->
                        <g:plusone size="medium"></g:plusone>

                        <!-- Place this render call where appropriate -->
                        <script type="text/javascript">
                          (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                          })();
                        </script>
                      </div> 
                    </div> 
                  </div> 
                </div>

              </div>
              {% endfor %}
              <div class="paginator-footer">
              {% include 'website/pagination.html' %}
              </div> 
          </div>
        </div>
        <div class="box_r">
            <div class="box_r1">
              <h3>Categoría de Nuestro Proyectos</h3>
              <div class="list col">
                          <ul class="items">
                            <li><a href="catalogo-subcategorias.html">Audio y Video Profesional (5)</a></li>
                            <li><a href="catalogo-subcategorias.html">Multimedia y Automatizacion (9)</a></li>
                            <li><a href="catalogo-subcategorias.html">Seguridad Electrònica (4)</a></li>
                            <li><a href="catalogo-subcategorias.html">Medios de Almacenamiento (12)</a></li>
                            <li><a href="catalogo-subcategorias.html">Media Digital (2)</a></li>
                            <li><a href="catalogo-subcategorias.html">Soporte Técnico (3)</a></li>
                            
                          </ul>
              </div>
            </div>
            <div class="box_r1">    
                <div class="w-block-padding">
                <h3>Ubicación y datos de TELVICOM</h3>
                <div class="w-block-s">
                  <h4>Oficina central</h4>
                  <div>
                    Los Halcones 484 Urb. Limatambo, Surquillo Lima - Perú <br />
                    Telf: (51) 1618-9090   <br />
                    Fax: (51) 1222-1867  <br />
                    E-mail:<span class="mail1">info@telvicom.com</span>
                  </div>
                </div>
                <div class="w-block-s">
                  <h4>Horarios de Atención</h4>
                  <div>
                    Lunes - Viernes <br />
                    08:30 am - 6:00 pm
                  </div>
                </div>
                <div class="w-block-s">
                  <h4>Ubicación</h4>
                  <div class="img">
                    <img src="{{STATIC_URL}}css/img/img-proy-1.jpg" />
                  </div>
                </div>
              </div>
              <div class="w-block-s1">
                  <h3>Recibe a TELVICOM en tu e-mail</h3>
                  Recibe las principales notas de TELVICOM sobre nuestro catálogo de productos, servicios, proyectos realizado y más.</br>
              <div class="mail-proy">
              </br>              
              <form class="form">
              <input class="imput-proy" type="text" name="mail" placeholder="e-mail">
              <input class="submit-proy" type="submit" value="suscribir">
              </form>
              </div>
              </div>
            </div>
             
            <div class="box_r1">    
              <div class="fb-like-box" data-href="http://www.facebook.com/Telvicom" data-width="280" data-height="547" data-show-faces="true" data-stream="true" data-header="true"></div>    
            </div>
        </div>
        

          

           
        </div> 
      </div> 
  </div> 
  <!-- END -->

</div>
{% endblock %}
