{% extends 'website/base.html' %} 

{% block content %} 
<div class="w-catalogo w-subcate"> 


  <div class="w-header">
    <div class="w-title">
      <div class="inner">
        <h1>Productos y Servicios</h1>
      </div>
    </div>
    <div class="w-submenu">
      <div class="inner"> 
          <div class="breadcrumb">
            <a href="">Categorías</a>
            <strong>Audio y Video Profesional</strong> 
          </div>
      </div>  
    </div>
  </div> 


  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
      <div class="inner">
        <div class="w-full-info"> 
          <!-- Category Navigation -->
          <div class="w-nav">
            <div class="catlist"> 
              <ul class="menu">
                <li>
                  <a href=""><span>Categorías</span></a> 
                </li>
                <li>
                  <a href=""><span>Audio y Video Profesional</span></a>
                  <ul>
                    <li><a href="">Cámaras Broadcast y Video Profesionales</a></li>
                    <li><a href="">Monitores Profesionles</a></li>
                    <li><a href="">Switchers de Video</a></li>
                    <li><a href="">Videograbadoras</a></li>
                    <li><a href="">Audio Profesional</a></li>
                    <li><a href="">Accesorios</a></li>
                    <li><a href="">Transmisores</a></li>
                    <li><a href="">Servidores de video</a></li>
                    <li><a href="">Instrumentos de Medición</a></li> 
                  </ul>
                </li>
                <li>
                  <a href=""><span>Cámaras Broadcast y Video Profesionales</span></a>
                  <ul>
                    <li><a href="">Cámaras Broadcast y Video Profesionales</a></li>
                    <li><a href="">Monitores Profesionles</a></li>
                    <li><a href="">Switchers de Video</a></li>
                    <li><a href="">Videograbadoras</a></li>
                    <li><a href="">Audio Profesional</a></li>
                    <li><a href="">Accesorios</a></li>
                    <li><a href="">Transmisores</a></li>
                    <li><a href="">Servidores de video</a></li>
                    <li><a href="">Instrumentos de Medición</a></li> 
                  </ul>
                </li> 
              </ul>
            </div>
            <div class="w-proyectos">
              <h4>Proyectos Realizados</h4>
              <div class="proyecto">
                <div class="img">
                  <a href="">
                    <img src="{{STATIC_URL}}css/img/img-proyecto-aside-1.jpg" width="226" height="185" />
                  </a>
                </div>
                <div class="label">
                  <h4>
                    Implementación de solución RPP TV
                  </h4>
                  <div class="info">
                    Realizada a medidda para la primera estación de radio de noticias del <a href="">leer más</a>
                  </div>
                </div >
              </div>
            </div>
          </div>  
          <!-- END Category Navigation -->
          <!-- Category Section -->
          <div class="w-section">
            <h1>AUDIO Y VIDEO PROFESIONAL</h1>
            <div class="brief">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut purus at orci cursus viverra. Maecenas risus tortor, aliquet id pellentesque sit amet, eleifend et orci. <br /> 
              Para mayor información o requerimiento comuníquese con nosotros a través de nuestra sección 
              <a href="">contáctenos</a> 
            </div>
            <div class="w-products">

              {% for i in 123456789|make_list %} 
              <div class="item {% cycle 'first' '' '' %}">
                <h4 class="title"><a href="">Cámaras Broadcast y Video Profesionales</a></h4>
                <div class="img">
                  <img width="230" height="138" src="{{STATIC_URL}}css/img/img-cat-{{i}}.jpg" />
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- END Category Section -->
        </div> 
      </div> 
  </div> 
  <!-- END -->

</div>
{% endblock %}
