{% extends 'website/base.html' %} 
{% block css %}
<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/luis.css?id=1"/>  
{% endblock %}
{% block content %} 
<div class="w-catalogo-detalle-producto w-subcate"> 


  <div class="w-header">
    <div class="w-title">
      <div class="inner">
        <h1>Productos y Servicios</h1>
      </div>
    </div>
    <div class="w-submenu">
      <div class="inner"> 
          <div class="breadcrumb">
            <a href="">Categorías</a>
            <strong>Audio y Video Profesional</strong> 
          </div>
      </div>  
    </div>
  </div> 


  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
      <div class="inner">
        <div class="w-full-info"> 
          <!-- Category Navigation -->
          <div class="w-nav">
            <div class="catlist"> 
              <ul class="menu">
                <li>
                  <a href=""><span>Categorías</span></a> 
                </li>
                <li>
                  <a href=""><span>Audio y Video Profesional</span></a>
                  <ul>
                    <li><a href="">Cámaras Broadcast y Video Profesionales</a></li>
                    <li><a href="">Monitores Profesionles</a></li>
                    <li><a href="">Switchers de Video</a></li>
                    <li><a href="">Videograbadoras</a></li>
                    <li><a href="">Audio Profesional</a></li>
                    <li><a href="">Accesorios</a></li>
                    <li><a href="">Transmisores</a></li>
                    <li><a href="">Servidores de video</a></li>
                    <li><a href="">Instrumentos de Medición</a></li> 
                  </ul>
                </li>
                <li>
                  <a href=""><span>Cámaras Broadcast y Video Profesionales</span></a>
                  <ul>
                    <li><a href="">Cámaras Broadcast y Video Profesionales</a></li>
                    <li><a href="">Monitores Profesionles</a></li>
                    <li><a href="">Switchers de Video</a></li>
                    <li><a href="">Videograbadoras</a></li>
                    <li><a href="">Audio Profesional</a></li>
                    <li><a href="">Accesorios</a></li>
                    <li><a href="">Transmisores</a></li>
                    <li><a href="">Servidores de video</a></li>
                    <li><a href="">Instrumentos de Medición</a></li> 
                  </ul>
                </li> 
              </ul>
            </div>
            <div class="w-proyectos">
              <h4>Proyectos Realizados</h4>
              <div class="proyecto">
                <div class="img">
                  <a href="">
                    <img src="{{STATIC_URL}}css/img/img-proyecto-aside-1.jpg" width="226" height="185" />
                  </a>
                </div>
                <div class="label">
                  <h4>
                    Implementación de solución RPP TV
                  </h4>
                  <div class="info">
                    Realizada a medidda para la primera estación de radio de noticias del <a href="">leer más</a>
                  </div>
                </div >
              </div>
            </div>
          </div>  
          <!-- END Category Navigation -->
          <!-- Category Section -->
          <div class="w-section">
				<div class="w-gallery">
					<div class="w-gallery-l">
						<div class="w-gallery-principal">
							<div class="slider">
								<div class="img"><a href="#"><img src="{{STATIC_URL}}css/img/img-detalle-producto-principal.jpg" width="413" height="275" /></a></div>						
								<div class="img"><a href="#"><img src="{{STATIC_URL}}css/img/img-detalle-producto-principal.jpg" width="413" height="275" /></a></div>						
								<div class="img"><a href="#"><img src="{{STATIC_URL}}css/img/img-detalle-producto-principal.jpg" width="413" height="275" /></a></div>						
								<div class="img"><a href="#"><img src="{{STATIC_URL}}css/img/img-detalle-producto-principal.jpg" width="413" height="275" /></a></div>						
								<div class="img"><a href="#"><img src="{{STATIC_URL}}css/img/img-detalle-producto-principal.jpg" width="413" height="275" /></a></div>						
								<div class="img"><a href="#"><img src="{{STATIC_URL}}css/img/img-detalle-producto-principal.jpg" width="413" height="275" /></a></div>						
							</div>		
						</div>
						<div class="w-gallery-thumbs slider-controllers">
							<a href="#" class=""><span><img src="{{STATIC_URL}}css/img/img-detalle-producto-thumb.jpg" width="63" height="70" /></span></a>	
							<a href="#" class="active"><span><img src="{{STATIC_URL}}css/img/img-detalle-producto-thumb.jpg" width="63" height="70" /></span></a>	
							<a href="#" class=""><span><img src="{{STATIC_URL}}css/img/img-detalle-producto-thumb.jpg" width="63" height="70" /></span></a>	
							<a href="#" class=""><span><img src="{{STATIC_URL}}css/img/img-detalle-producto-thumb.jpg" width="63" height="70" /></span></a>	
							<a href="#" class=""><span><img src="{{STATIC_URL}}css/img/img-detalle-producto-thumb.jpg" width="63" height="70" /></span></a>	
							<a href="#" class=""><span><img src="{{STATIC_URL}}css/img/img-detalle-producto-thumb.jpg" width="63" height="70" /></span></a>	
										
						</div>
					
					</div>
					<div class="w-gallery-r">
						<h2>CAMARA SONY PARA COMERCIALES, ZOOM X22</h2>
						<div class="category">
							<a href="" class="tag">HVR-S270AN</a>
						</div>
						<div class="detail">
							<h3>El camcorder de la gama HDV Profesional de Sony más potente y ligero.</h3>
							<p>Con un tamaño increíblemente reducido y aprovechando todas las ventajas del formato HDV 1080i,
							el HVR-A1E ofrece una gran cantidad de funciones avanzadas para los usuarios profesionales. 
							La utilización de la tecnología CMOS hace que el HVR-A1E sea un camcorder ultracompacto capaz 
							de proporcionar imágenes HDV a la máxima resolución de 1080 líneas. </p>
						</div>
					</div>			
				</div>
		 
				<div class="description">
					<div class="cnt_tabs cnt_tabs_description ">
						<ul class="cf list_tabs tabs_description darkgray_gradient">
							<li class="selected"><a class="tab display" href="#" rel="#informacion_general"><span>Información General</span></a></li>
							<li class="last"><a class=" tab" href="#" rel="#informacion_adicional"><span>Información adicional </span></a></li>
						</ul>
					</div>			
									
					<div class="cnt_tabContent">											
						<div class="contentTab" id="informacion_general">
							<h2>HVR-A1N</h2>
							<h3>El camcorder de la gama HDV Profesional de Sony más pequeño y ligero</h3>
							
							
							
							<p>Con un tamaño increíblemente reducido y aprovechando todas las ventajas del formato HDV 1080i, 
							el HVR-A1E ofrece una gran cantidad de funciones avanzadas para los usuarios profesionales. La utilización de la 
							tecnología CMOS hace que el HVR-A1E sea un camcorder ultracompacto capaz de proporcionar imágenes HDV a la máxima
							resolución de 1080 líneas.</p>
							<p>Gracias al precio asequible de los equipos HDV, el HVR-A1E permite a los usuarios realizar una migración sencilla
							desde la Definición Estándar hacia la Alta Definición, conservando las virtudes de la gama DVCAM, como la facilidad 
							de uso y la conectividad i.LINK (IEEE1394).</p>
							<p>El HVR-A1E es ideal para situaciones donde el espacio es el factor primordial, y amplía la gama de herramientas HDV
							disponibles para los usuarios profesionales: realmente proporciona "HD para todos".</p>
							<p>Este producto incluye la cobertura PrimeSupport, un servicio de reparación rápido y sin complicaciones, además de una
							línea telefónica de asesoramiento técnico por parte de expertos. Esto le da la tranquilidad de que Sony mira por su
							equipo y por su negocio.</p>
							
							
							<h3 class="highlight1">PROMOCIÓN POR TIEMPO LIMITADO</h3>
							<p>Compre este camcorder antes del 31 de marzo de 2011 para obtener su copia gratuita de Vegas Pro 10. 
							Visite <a href="#">www.pro.sony.eu/vegaspromo para ver las condiciones</a></p>

							<p>Este producto incluye el paquete completo PrimeSupport. Esta opción incluye un servicio de reparación rápido
							y sin complicaciones, además de una línea telefónica de asesoramiento técnico por parte de expertos y el préstamo
							gratuito de una unidad mientras la suya esté reparándose. Por no hablar de la tranquilidad de saber que Sony se
							preocupa del buen funcionamiento de sus equipos y de su negocio.</p>
							
							<div class="media">
								<div class="">
									 <img src="{{STATIC_URL}}css/img/img_video_producto_detalle.jpg" width="413" height="275" />								
								</div>
							
							</div>
							
							
						</div>
						<div class="contentTab" id="informacion_adicional">
						
						</div>
					</div>
									
									
				
				
				
				</div>
		 
		 
          </div>
          <!-- END Category Section -->
        </div> 
      </div> 
  </div> 
  <!-- END -->

</div>
{% endblock %}
