{% extends 'website/base.html' %} 

{% block content %} 
<div class="w-catalogo"> 


  <div class="w-header">
    <div class="w-title">
      <div class="inner">
        <h1>Productos y Servicios</h1>
      </div>
    </div>
    <div class="w-submenu">
      <div class="inner"> 
          <div class="breadcrumb">
            <a href="catalogo-subcategorias.html">Categorías</a> 
          </div>
      </div>
    </div>
  </div> 


  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
      <div class="inner">
        <div class="w-full-info">
          <h2>CATEGORÍAS</h2> 

          <div class="w-social">
            <div class="s-button">
              <div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
            </div>

            <div class="s-button">
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="zazk" data-lang="es">Twittear</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
            </div> 

            <div class="s-button s-gplus">
              <!-- Place this tag where you want the +1 button to render -->
              <g:plusone size="medium"></g:plusone>
            </div>

            <!-- Place this render call where appropriate -->
            <script type="text/javascript">
              window.___gcfg = {lang: 'es'};

              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>

          </div>

          <div class="w-catalogo">  
            <div class="w-categorias">
              <div class="brief">
                Contamos con soluciones para diversas necesidades y presupuestos. Desde productos  específicos hasta soluciones integrales "Llave en mano".
                Para mayor información o requerimiento comuníquese con nosotros a través de nuestra sección <a href="">contáctenos</a> 
              </div>
              <div class="categorias">
                {% for i in 123456|make_list %} 
                  <div class="cat">
                    <div class="img col">
                      <img src="{{STATIC_URL}}css/img/img-categories-{{i}}.jpg" width="300" height="226" />
                    </div>
                    <div class="info col">
                      <h3><a href="">Audio y Video Profesional</a></h3>
                      <div class="des">
                        Descripción, lorem ipsum Descripció, lorem ipsum Descripción, lorem ipsum Descripció, lorem ipsumDescripció, lorem ipsum Descripción, lorem ipsum Descripción, lorem ipsum Descripción, lorem ipsumDescripción, lorem ipsum Descripción, lorem ipsumDescripció, lorem ipsum Descripció, lorem ipsumDescripció, lorem ipsum Descripció, lorem ipsum
                      </div> 
                    </div>
                    <div class="list col">
                      <ul class="items">
                        <li><a href="catalogo-subcategorias.html">Cámaras broadcast y video profesionales</a></li>
                        <li><a href="catalogo-subcategorias.html">Monitores profesionales</a></li>
                        <li><a href="catalogo-subcategorias.html">Switchers de video</a></li>
                        <li><a href="catalogo-subcategorias.html">Videograbadoras</a></li>
                        <li><a href="catalogo-subcategorias.html">Audio profesional</a></li>
                        <li><a href="catalogo-subcategorias.html">Equipos complementarios - accesorios</a></li>
                        <li><a href="catalogo-subcategorias.html">Transmisores</a></li>
                        <li><a href="catalogo-subcategorias.html">Microondas / satélite</a></li>
                        <li><a href="catalogo-subcategorias.html">Servidores de video</a></li>
                      </ul>
                    </div>
                  </div> 
                {% endfor %}
              </div>
            </div>
          </div>  
        </div> 
      </div> 
  </div> 
  <!-- END -->

</div>
{% endblock %}
