{% extends 'website/base.html' %} 

{% block content %} 
<div class="w-clients"> 

  {% include 'website/submenu.html' %}

  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
    <div class="inner">
      <div class="w-full-info">
        <h2>NUESTROS CLIENTES</h2> 
        <div class="w-clients-type"> 
            <div class="w-clients-logos"> 
              <div class="row">
                <h5>BROADCAST</h5>
                <div class="imgs">
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-1.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-2.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-3.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-4.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-5.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-6.jpg" />
                  </div>
                </div>
              </div>
              <div class="row">
                <h5>EMPRESARIAL</h5>
                <div class="imgs">
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-7.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-8.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-9.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-10.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-11.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-12.jpg" />
                  </div>
                </div>
              </div>
              <div class="row">
                <h5>EDUCACION</h5> 
                <div class="imgs">
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-13.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-14.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-15.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-16.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-17.jpg" />
                  </div>
                  <div>
                    <img src="{{STATIC_URL}}css/img/img-cliente-18.jpg" />
                  </div>
                </div>
              </div>
            </div>
        </div>  
      </div>
    </div>
  </div> 
  <!-- END -->

</div>
{% endblock %}
