{% extends 'website/base.html' %} 

{% block content %} 
<div class="w-contacto">  
  
  {% include 'website/submenu.html' %}

  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
    <div class="inner">
      <div class="w-info">
        <h2>CONTACTENOS</h2> 
        <p>
          A través de este formulario puede enviarnos sus consultas o comentarios a cada una de las áreas especializadas de TELVICOM. Todos los campos con (*) son obligatorios.
        </p>
        <div class="w-contacto-form">  
          <div class="form">
            <form action="" method="post">
              <div class="block">
                <h4>DATOS DE CONTACTO</h4>
                <div>
                  <input type="text" class="input" placeholder="Juan Carlos " />
                </div>
                <div>
                  <input type="text" class="input" placeholder="Apellidos * " />
                </div>
                <div>
                  <input type="text" class="input" placeholder="E-mail * " />
                </div>
                <div>
                  <input type="text" class="input" placeholder="Celular * " />
                </div> 
              </div>
              <div class="block">
                <h4>DATOS DE CONTACTO</h4>
                <div>
                  <input type="text" class="input" placeholder="Empresa / Organización * " />
                </div>
                <div>
                  <input type="text" class="input" placeholder="Cargo * " />
                </div>
                <div>
                  <input type="text" class="input" placeholder="Teléfono * " />
                </div>
                <div>
                  <input type="text" class="input" placeholder="Ciudad * " />
                </div>
                <div class="label">País *</div>
                <div>
                  <select class="select">
                    <option>Seleccionar País</option>
                  </select>
                </div> 
              </div>
              <div class="block">
                <h4>AREA ESPECIALIZADA</h4>
                <div class="label">
                  ¿A qué área especializada de TELVICOM desea comunicarse? *
                </div>
                <div >
                  <select class="select s-medium">
                    <option>Seleccionar</option>
                  </select>
                </div> 
                <div class="label">
                  ¿Cómo se enteró sobre Telvicom? *
                </div>
                <div>
                  <select class="select s-medium">
                    <option>Seleccionar</option>
                  </select>
                </div> 
                <div class="b-checkbox">
                  <div>
                    Newsletter TELVICOM
                  </div>
                  <input type="checkbox" class="checkbox" />
                  Sí, deseo recibir los contenidos de Telvicom en mi e-mail.
                </div>
                <div>
                  <textarea class="textarea">Adicionar comentario</textarea>
                </div> 
                <div class="buttons">
                  <span class="w-btn">
                    <input type="submit" class="btn" value="Enviar" />
                  </span>
                </div> 
              </div>
            </form>

          </div>
        </div>  
      </div>
        <div class="w-aside">
          <div class="w-block-padding">
            <h3>Ubicación y datos de TELVICOM</h3>
            <div class="w-block-s">
              <h4>Oficina central</h4>
              <div>
                Los Halcones 484 Urb. Limatambo, Surquillo Lima - Perú <br />
                Telf: (51) 1618-9090   <br />
                Fax: (51) 1222-1867  <br />
                E-mail:info@telvicom.com
              </div>
            </div>
            <div class="w-block-s">
              <h4>Horarios de Atención</h4>
              <div>
                Lunes - Viernes <br />
                08:30 am - 6:00 pm
              </div>
            </div>
            <div class="w-block-s">
              <h4>Ubicación</h4>
              <div class="img">
                <img src="{{STATIC_URL}}css/img/map-small.png" />
              </div>
            </div>
            <div class="w-block-s">
              <h4>Nuestra Sede</h4>
              <div class="img">
                <img src="{{STATIC_URL}}css/img/img-sede.jpg" />
              </div>
            </div>
          </div>
        </div>
    </div> 
  </div> 
  <!-- END -->

</div>
{% endblock %}
