{% extends 'website/base.html' %} 

{% block content %} 
<div class="w-contacto">  
  
  {% include 'website/submenu.html' %}

  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
    <div class="inner">
      <div class="w-info">
        <h2>CONTACTENOS</h2> 
        <div class="response">
          <div class="client-details">
            Estimado(a) <span class="client-name">EVELYN RUIZ</span> <br />
            Su mensaje se ha enviado corectamente.
          </div>
          <p>
            En breve un representante de TELVICOM se contactará con usted para responder a su requerimiento.
          </p>
          <p>
            En su correo recibirá una confirmación de su comunicación.
          </p>
          <p>
            Muchas gracias.
          </p>
          <div class="signature">
            TELVICOM<br />
            <a href="">info@telvicom.com</a>
          </div> 
          <div class="pd">
            Te invitamos a conocer nuestra sección <a href="">Canal Informativo</a> con las últimas notas sobre Telvicom y el sector. 
          </div>
        </div> 

      </div>
        <div class="w-aside">
          <div class="w-block-padding">
            <h3>Ubicación y datos de TELVICOM</h3>
            <div class="w-block-s">
              <h4>Oficina central</h4>
              <div>
                Los Halcones 484 Urb. Limatambo, Surquillo Lima - Perú <br />
                Telf: (51) 1618-9090   <br />
                Fax: (51) 1222-1867  <br />
                E-mail:info@telvicom.com
              </div>
            </div>
            <div class="w-block-s">
              <h4>Horarios de Atención</h4>
              <div>
                Lunes - Viernes <br />
                08:30 am - 6:00 pm
              </div>
            </div>
            <div class="w-block-s">
              <h4>Ubicación</h4>
              <div class="img">
                <img src="{{STATIC_URL}}css/img/map-small.png" />
              </div>
            </div>
            <div class="w-block-s">
              <h4>Nuestra Sede</h4>
              <div class="img">
                <img src="{{STATIC_URL}}css/img/img-sede.jpg" />
              </div>
            </div>
          </div>
        </div>
    </div> 
  </div> 
  <!-- END -->

</div>
{% endblock %}
