<div id="footer">
  <div class="brands">
    <div class="inner">
      <h4>MARCAS REPRESENTATIVAS</h4>
      <div class="img">
        <img src="{{STATIC_URL}}css/img/img-partners.png" alt="" />
      </div>
    </div>
  </div> 
  <div class="footer-links">
    <div class="inner">
      <div class="f-links clearfix">
        <div class="block">
          <h3>Sobre Telvicom</h3>
          <ul>
            <li><a href="nosotros.html">Presentación</a></li>
            <li><a href="clientes.html">Clientes</a></li>
            <li><a href="reconociientos.html">Reconocimientos</a></li>
            <li><a href="marcas.html">Marcas Representadas</a></li>
            <li><a href="contacto.html">Contacto </a></li>
          </ul>
        </div>
        <div class="block extend">
          <h3>Productos y Servicios  </h3>
          <ul>
            <li><a href="catalogo.html">Audio y Video Profesional</a></li>
            <li><a href="catalogo.html">Media Digital </a></li>
            <li><a href="catalogo.html">Medios de Almacenamiento </a></li>
            <li><a href="catalogo.html">Multimedia y Automatización</a></li>
            <li><a href="catalogo.html">Soporte Técnico </a></li>
            <li><a href="catalogo.html">Soporte Técnico </a></li>
          </ul>
        </div>
        <div class="block last">
          <h3><a href="404.html">Proyectos Desarrollados</a></h3> 
          <h3><a href="404.html">Canal Informativo</a></h3> 
          <h3><a href="404.html">Boletín Telvicom</a></h3> 
        </div>
      </div>
    </div>
  </div> 

  <!-- Credits -->
  <div class="inner">
    <div class="f-address">
      <div class="interactiva">
        <a href="404.html">Interactiva</a>
      </div>
      <div class="address">
        Los Halcones 484 Urb. Limatambo, Surquillo. Lima,Perú<br />
        T: (511) 618-9090  F: (511) 222-1867<br />
        Email: <a href="404.html">info@telvicom.pe</a><br />
      </div>
      <div class="logo">Telvicom</div>
    </div>
  </div>
  <!-- END -->
</div>