<div id="header">
  <div class="inner">
    <div class="logo">
        <a href="/">Telvicom </a>
    </div>
    <div class="topnav">
      <a href="index.html"><span class="icon i-home"></span></a>
      <a href="404.html">Boletín</a> <span>|</span>
      <a href="contacto.html">Contáctenos</a>
    </div>
    <div class="social">
      <span>Sígenos en: </span>
      <a href="404.html" target="_blank"><span class="icon i-facebook"></span></a>
      <a href="404.html" target="_blank"><span class="icon i-twitter"></span></a>
    </div>
    <div class="nav">
      <ul>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li class="show-panel"><a href="404.html">Productos y Servicios <span class="icon i-arrowdown"></span></a>
          <div class="panel">
            <div class="content">
              <div class="block">
                <div class="item">
                  <h4><a href="404.html"><span class="icon i-camera"></span>Audio y Video Professional</a></h4>
                  <ul>
                    <li><a href="404.html">Cámaras broadcast y video profesionales</a></li>
                    <li><a href="404.html">Monitores profesionales</a></li>
                    <li><a href="404.html">Switchers de video</a></li>
                    <li><a href="404.html">Videograbadoras</a></li>
                    <li><a href="404.html">Audio profesional</a></li>
                    <li><a href="404.html">Equipos complementarios - accesorios</a></li>
                    <li><a href="404.html">Transmisores</a></li>
                    <li><a href="404.html">Microondas / satélite</a></li>
                    <li><a href="404.html">Servidores de video</a></li>
                    <li><a href="404.html">Flujo de trabajo</a></li> 
                  </ul>
                </div>
              </div>
              <div class="block">
                <div class="item">
                  <h4><a href="404.html"><span class="icon i-camera"></span>Audio y Video Professional</a></h4>
                  <ul>
                    <li><a href="404.html">Cámaras broadcast y video profesionales</a></li>
                    <li><a href="404.html">Monitores profesionales</a></li>
                    <li><a href="404.html">Switchers de video</a></li> 
                  </ul>
                </div>
                <div class="item">
                  <h4><a href="404.html"><span class="icon i-camera"></span>Audio y Video Professional</a></h4>
                  <ul>
                    <li><a href="404.html">Cámaras broadcast y video profesionales</a></li>
                    <li><a href="404.html">Monitores profesionales</a></li>
                    <li><a href="404.html">Switchers de video</a></li> 
                  </ul>
                </div>
                <div class="item">
                  <h4><a href="404.html"><span class="icon i-camera"></span>Audio y Video Professional</a></h4>
                  <ul>
                    <li><a href="404.html">Cámaras broadcast y video profesionales</a></li>
                    <li><a href="404.html">Monitores profesionales</a></li> 
                  </ul>
                </div>
              </div>
              <div class="block">
                <div class="item">
                  <h4><a href="404.html"><span class="icon i-camera"></span>Audio y Video Professional</a></h4>
                  <ul>
                    <li><a href="404.html">Cámaras broadcast y video profesionales</a></li>
                    <li><a href="404.html">Monitores profesionales</a></li>
                    <li><a href="404.html">Switchers de video</a></li>
                    <li><a href="404.html">Videograbadoras</a></li>
                    <li><a href="404.html">Audio profesional</a></li>
                    <li><a href="404.html">Equipos complementarios - accesorios</a></li> 
                  </ul>
                </div>
                <div class="item">
                  <h4><a href="404.html"><span class="icon i-camera"></span>Audio y Video Professional</a></h4>
                  <ul>
                    <li><a href="404.html">Cámaras broadcast y video profesionales</a></li>
                    <li><a href="404.html">Monitores profesionales</a></li>
                    <li><a href="404.html">Switchers de video</a></li>
                    <li><a href="404.html">Videograbadoras</a></li> 
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a href="404.html">Proyectos Realizados</a></li>
        <li><a href="404.html">Canal Informativo  </a></li>
      </ul>
    </div>
    <div class="search">
      <input type="text" placeholder="Ingresa tu búsqueda" class="input" />
      <input type="submit" class="button icon abs i-find" value="" />
    </div>
  </div>
</div>