{% extends 'website/base.html' %} 

{% block content %} 
<div class="w-home">
  <!-- SLIDER -->
  <div class="slider-wrapper">
    <div class="inner">

      <div class="slider">
        
        <div class="slide">
          <div class="info">
            <h3>Lanzamiento de la Cámara CineAlta F-23</h3>
            <p>Lo último en Broadcast <br />y Video para Profesionales</p>
            <div class="link">
              <a href="404.html">Revisar</a>
            </div>
          </div>
          <div class="img">
            <img src="{{STATIC_URL}}css/img/img-banner.jpg" width="988" height="350" />
          </div>
        </div>
        
        <div class="slide">
          <div class="info">
            <h3>Lanzamiento de la Cámara CineAlta F-23</h3>
            <p>Lo último en Broadcast <br /> y Video para Profesionales</p>
            <div class="link">
              <a href="404.html">Revisar</a>
            </div>
          </div>
          <div class="img">
            <img src="{{STATIC_URL}}css/img/img-banner-2.jpg" width="988" height="350" />
          </div>
        </div>

        <div class="slide">
          <div class="info">
            <h3>Lanzamiento de la Cámara CineAlta F-23</h3>
            <p>Lo último en Broadcast <br /> y Video para Profesionales</p>
            <div class="link">
              <a href="404.html">Revisar</a>
            </div>
          </div>
          <div class="img">
            <img src="{{STATIC_URL}}css/img/img-banner-3.jpg" width="988" height="350" />
          </div>
        </div>

      </div>

      <div class="slider-controllers">
        <a href="404.html" class="active"><img src="{{STATIC_URL}}css/img/img-slider-thumb-1.jpg"></a>
        <a href="404.html"><img src="{{STATIC_URL}}css/img/img-slider-thumb-2.jpg"></a>
        <a href="404.html"><img src="{{STATIC_URL}}css/img/img-slider-thumb-3.jpg"></a>
      </div>

    </div>
  </div>
  <!-- END -->

  <!-- END -->
  <div class="h-links">
    <div class="inner">
      <div class="links">

        <div class="link">
          <a href="404.html">
            <span class="img">
              <img src="{{STATIC_URL}}css/img/img-link-1.jpg" border="0" />
            </span>
            <span class="info">
              <strong>Interfaces para Multimedia</strong>
              <span class="detail">
                Conozca nustras soluciones para interconexiones
              </span>
            </span>
          </a>
        </div>
        <div class="link">
          <a href="404.html">
            <span class="img">
              <img src="{{STATIC_URL}}css/img/img-link-2.jpg" border="0" />
            </span>
            <span class="info">
              <strong>Implementación de solución RPP TV</strong>
              <span class="detail">
                Realizada a medidad para la primera estación de radio de noticias del Perú
              </span>
            </span>
          </a>
        </div>
        <div class="link">
          <a href="404.html">
            <span class="img">
              <img src="{{STATIC_URL}}css/img/img-link-3.jpg" border="0" />
            </span>
            <span class="info">
              <strong>TELVICOM en  LINK de RPP TV</strong>
              <span class="detail">
                Presentación de la cámara NEX-FS100NK 2011 por Bernardo Vértiz.
              </span>
            </span>
          </a>
        </div>

      </div>
    </div>
  </div>
  <!-- END -->

</div>
{% endblock %}
