{% extends 'website/base.html' %} 

{% block content %} 
<div class="w-catalogo"> 

 


  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
      <div class="inner">
        <div class="w-full-info">
          <h2>Files</h2> 
          <div>
            <ul>
              {% for tem in templates %} 
              <li><a href="{{tem}}">{{tem}}</a></li>
              {% endfor %}
            </ul>
          </div>  
        </div> 
      </div> 
  </div> 
  <!-- END -->

</div>
{% endblock %}
