{% extends 'website/base.html' %} 

{% block content %} 
<div class="w-marcas"> 


  {% include 'website/submenu.html' %}


  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
      <div class="inner">
        <div class="w-full-info">
          <h2>MARCAS REPRESENTADAS</h2> 
          <div class="w-awards-type">
            <div class="row">
              <div class="item">
                <div class="img">
                  <img src="{{STATIC_URL}}css/img/img-marcas-1.jpg" />
                </div>
                <div class="info">
                  <h4>SONY</h4>
                  <div>
                      Cámaras Digitales de Video, Videograbadoras Digitales, Monitores de video a color, Switcher Digitales de Video, Generadores de Efectos Digitales, Digitales, Monitores de video a color, Switcher Digitales de Video, Generadores de Efectos Digitales, etc.etc.
                  </div>
                  <div><a href="404.html">www.sony.com </a></div>
                </div>
              </div>
              <div class="item">
                <div class="img">
                  <img src="{{STATIC_URL}}css/img/img-marcas-2.jpg" />
                </div>
                <div class="info">
                  <h4>HARRIS</h4>
                  <div>
                      Transmisores para Television y Radio, Sistemas de Microondas Digitales, etc  
                  </div>
                  <div><a href="404.html">www.sony.com </a></div>
                </div>
              </div>
            </div> 
            <div class="row">
              <div class="item">
                <div class="img">
                  <img src="{{STATIC_URL}}css/img/img-marcas-1.jpg" />
                </div>
                <div class="info">
                  <h4>SONY</h4>
                  <div>
                      Cámaras Digitales de Video, Videograbadoras Digitales, Monitores de video a color, Switcher Digitales de Video, Generadores de Efectos Digitales, Digitales, Monitores de video a color, Switcher Digitales de Video, Generadores de Efectos Digitales, etc.etc.
                  </div>
                  <div><a href="404.html">www.sony.com </a></div>
                </div>
              </div>
              <div class="item">
                <div class="img">
                  <img src="{{STATIC_URL}}css/img/img-marcas-2.jpg" />
                </div>
                <div class="info">
                  <h4>HARRIS</h4>
                  <div>
                      Transmisores para Television y Radio, Sistemas de Microondas Digitales, etc  
                  </div>
                  <div><a href="404.html">www.sony.com </a></div>
                </div>
              </div>
            </div> 
            <div class="row">
              <div class="item">
                <div class="img">
                  <img src="{{STATIC_URL}}css/img/img-marcas-1.jpg" />
                </div>
                <div class="info">
                  <h4>SONY</h4>
                  <div>
                      Cámaras Digitales de Video, Videograbadoras Digitales, Monitores de video a color, Switcher Digitales de Video, Generadores de Efectos Digitales, Digitales, Monitores de video a color, Switcher Digitales de Video, Generadores de Efectos Digitales, etc.etc.
                  </div>
                  <div><a href="404.html">www.sony.com </a></div>
                </div>
              </div>
              <div class="item">
                <div class="img">
                  <img src="{{STATIC_URL}}css/img/img-marcas-2.jpg" />
                </div>
                <div class="info">
                  <h4>HARRIS</h4>
                  <div>
                      Transmisores para Television y Radio, Sistemas de Microondas Digitales, etc  
                  </div>
                  <div><a href="404.html">www.sony.com </a></div>
                </div>
              </div>
            </div> 
  
          </div>  
        </div> 
      </div> 
  </div> 
  <!-- END -->

</div>
{% endblock %}
