{% extends 'website/base.html' %} 

{% block content %} 
<div class="w-contacto">  
  
  <div class="w-header">
    <div class="w-title">
      <div class="inner">
        <h1>SUSCRIBETE A NUESTRO BOLETIN </h1>
      </div>
    </div> 
  </div> 

  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
    <div class="inner">
      <div class="w-info"> 
        <div class="response">
          <div class="img">
            <img src="{{STATIC_URL}}css/img/logo-telvicom-big.png" />
          </div>
          <div class="client-details">
            <span class="client-name">NOMBRE DEL USUARIO,</span> <br />
            tu suscripción ha sido enviada correctamente.
          </div>
          <p>
            Muy pronto te enviaremos a tu e-mail los contenidos de nuestro Boletín Telvicom.
          </p> 
          <p>
            Muchas gracias.
          </p>
          <div class="signature">
            TELVICOM<br />
            <a href="">info@telvicom.com</a>
          </div> 
          <div class="pd">
            Te invitamos a conocer nuestra sección <a href="">Canal Informativo</a> con las últimas notas sobre Telvicom y el sector. 
          </div>
        </div> 

      </div>
        <div class="w-aside">
          <div class="w-block-padding"> 
            <div class="w-hightlight">
              <h3>BENEFICIOS</h3>
              <div class="w-hight-list">
                <ul>
                  <li>Te mantendremos informado sobre nuestras promociones, noticias y actividades. </li>
                  <li>Conocerás las reseñas de nuestros productos en notas especializadas donde analizaremos detalles técnicos así como las ventajas y recomendaciones de uso de nuestros productos.  </li>
                  <li>Conocerás lo último de nuestros proyectos implementados para nuestros clientes.</li>
                  <li>Resolverás tus dudas sobre productos, especificaciones técnicas y otros. </li>
                  <li>Participarás de las futuras actividades, eventos y promociones.</li>
                  <li>Serás parte la comunidad Telvicom.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div> 
  </div> 
  <!-- END -->

</div>
{% endblock %}
