{% extends 'website/base.html' %} 

{% block content %} 
<div class="w-contacto">  
  
  <div class="w-header">
    <div class="w-title">
      <div class="inner">
        <h1>SUSCRIBETE A NUESTRO BOLETIN </h1>
      </div>
    </div> 
  </div> 

  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
    <div class="inner">
      <div class="w-info">
        <h2>TECNOLOGIA AUDIOVISUAL Y MAS DE LO QUE PUEDAS IMAGINAR.</h2> 
        <p>
          Suscríbete a nuestro boletín y recibe lo último de TELVICOM en tu e-mail .
          Es importante llenar todos los campos con (*) como obligatorios.
        </p>
        <div class="w-contacto-form">  
          <div class="form">
            <form action="" method="post"> 
              <h4>DATOS DE CONTACTO</h4>
              <div class="block">
                <div>
                  <input type="text" class="input" placeholder="E-mail * " />
                </div>
                <div>
                  <input type="text" class="input" placeholder="Juan Carlos " />
                </div>
                <div>
                  <input type="text" class="input" placeholder="Apellidos * " />
                </div>
                <div>
                  <input type="text" class="input" placeholder="Apellidos * " />
                </div> 
                <div>
                  <input type="text" class="input" placeholder="Celular * " />
                </div> 
                <div>
                  <input type="text" class="input" placeholder="Teléfono * " />
                </div>
                <div class="label">
                  Sexo
                </div>
                <div >
                  <select class="select s-medium">
                    <option>Seleccionar</option>
                  </select>
                </div> 
                <div class="label">
                  Fecha de Nacimiento
                </div>
                <div >
                  <select class="select s-small">
                    <option>Día</option>
                  </select>
                  <select class="select s-small">
                    <option>Mes</option>
                  </select>
                  <select class="select s-small">
                    <option>Año</option>
                  </select>
                </div> 
              </div> 
              <h4>UBICACIÓN</h4>
              <div class="block">
                <div>
                  <input type="text" class="input" placeholder="Ciudad " />
                </div>
                <div class="label">
                  Departamento
                </div>
                <div >
                  <select class="select s-medium">
                    <option>Seleccionar</option>
                  </select>
                </div> 
                <div class="buttons">
                  <span class="w-btn">
                    <input type="submit" class="btn" value="Enviar" />
                  </span>
                </div> 
              </div>
            </form>

          </div>
        </div>  
      </div>
        <div class="w-aside">
          <div class="w-block-padding"> 
            <div class="w-hightlight">
              <h3>BENEFICIOS</h3>
              <div class="w-hight-list">
                <ul>
                  <li>Te mantendremos informado sobre nuestras promociones, noticias y actividades. </li>
                  <li>Conocerás las reseñas de nuestros productos en notas especializadas donde analizaremos detalles técnicos así como las ventajas y recomendaciones de uso de nuestros productos.  </li>
                  <li>Conocerás lo último de nuestros proyectos implementados para nuestros clientes.</li>
                  <li>Resolverás tus dudas sobre productos, especificaciones técnicas y otros. </li>
                  <li>Participarás de las futuras actividades, eventos y promociones.</li>
                  <li>Serás parte la comunidad Telvicom.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div> 
  </div> 
  <!-- END -->

</div>
{% endblock %}
