{% extends 'website/base.html' %} 

{% block content %} 
<div class="w-nosotros"> 

  {% include 'website/submenu.html' %}

  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
    <div class="inner clearfix">
      <div class="w-info">
        <h2>BIENVENIDO A TELVICOM</h2>
        <div class="img">
          <img src="{{STATIC_URL}}css/img/img-nosotros.jpg" width="600" height="320" />
        </div>
        <div class="w-detail">
          <h3>NUESTRA VISIÓN</h3>
          <p>
            Tener el reconocimiento de contribuir destacadamente en el ámbito de las comunicaciones en el mercado nacional e internacional, que permitan llevar cultura, educación y entretenimiento que permitan generar mejores condiciones de vida a nuestra sociedad” 
          </p>
          <h3>NUESTRA MISIÓN </h3>
          <p>
            Contribuir en el desarrollo tecnológico de nuestros clientes a través del asesoramiento y suministro de sistemas con modernas tecnologías electrónicas y de comunicaciones que les permitan optimizar sus servicios comerciales e institucionales. 
          </p>
          <p>
            Desde Sistemas Integrales para la televisión comercial llave en mano hasta sistemas para el apoyo en áreas educativas, instituciones gubernamentales y aplicaciones militares; nuestro dinámico equipo les puede brindar una inigualable especialización en una variedad de campos de las comunicaciones.
          </p>
          <p>
              Contando con modernos productos de tecnología digital, podemos proporcionarle a nuestros clientes sistemas de video comunicación durables, inteligentes y económicos.
          </p>
        </div>
      </div>

        <div class="w-aside">
          <div class="w-block-padding">
            <h3>Ubicación y datos de TELVICOM</h3>
            <div class="w-block-s">
              <h4>Oficina central</h4>
              <div>
                Los Halcones 484 Urb.<br /> 
                Limatambo, Surquillo Lima - Perú <br />
                Telf: (51) 1618-9090   <br />
                Fax: (51) 1222-1867  <br />
                E-mail:info@telvicom.com
              </div>
            </div>
            <div class="w-block-s">
              <h4>Horarios de Atención</h4>
              <div>
                Lunes - Viernes <br />
                08:30 am - 6:00 pm
              </div>
            </div>
            <div class="w-block-s b-img">
              <h4>Ubicación</h4>
              <div class="img">
                <img src="{{STATIC_URL}}css/img/map-small.png" />
              </div>
            </div>
            <div class="w-block-s b-img">
              <h4>Nuestra Sede</h4>
              <div class="img">
                <img src="{{STATIC_URL}}css/img/img-sede.jpg" />
              </div>
            </div>
          </div>
        </div>
    </div>
  </div> 
  <!-- END -->

</div>
{% endblock %}
