{% extends 'website/base.html' %} 

{% block content %} 
<div class="w-reconocimientos">  

  {% include 'website/submenu.html' %}

  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
    <div class="inner">
      <div class="w-info">
        <h2></h2> 
        <div class="w-awards-type"> 
          <div class="item">
            <div class="img">
              <img src="{{STATIC_URL}}css/img/img-reconocimiento-1.jpg" />
            </div>
            <div class="info">
              <h4>RECONOCIMIENTO</h4>
              <div>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam egestas nunc, quis gravida enim aliquet nec. Duis lorem ligula, volutpat a pulvinar ac, volutpat vel quam. Praesent eget lacus quis diam euismod hendrerit ut non sem. Morbi nec nunc ac felis lobortis rhoncus in et ipsum. Curabitur placerat mi in dui faucibus vestibulum. Cras ornare nibh ut elit porta elementum. Cras quis nibh id ipsum ultrices aliquam. In hac habitasse platea dictumst. Sed ac metus magna. Pellentesque semper purus diam, vel dictum nunc.  
              </div>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="{{STATIC_URL}}css/img/img-reconocimiento-1.jpg" />
            </div>
            <div class="info">
              <h4>RECONOCIMIENTO</h4>
              <div>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam egestas nunc, quis gravida enim aliquet nec. Duis lorem ligula, volutpat a pulvinar ac, volutpat vel quam. Praesent eget lacus quis diam euismod hendrerit ut non sem. Morbi nec nunc ac felis lobortis rhoncus in et ipsum. Curabitur placerat mi in dui faucibus vestibulum. Cras ornare nibh ut elit porta elementum. Cras quis nibh id ipsum ultrices aliquam. In hac habitasse platea dictumst. Sed ac metus magna. Pellentesque semper purus diam, vel dictum nunc.  
              </div>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="{{STATIC_URL}}css/img/img-reconocimiento-1.jpg" />
            </div>
            <div class="info">
              <h4>RECONOCIMIENTO</h4>
              <div>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam egestas nunc, quis gravida enim aliquet nec. Duis lorem ligula, volutpat a pulvinar ac, volutpat vel quam. Praesent eget lacus quis diam euismod hendrerit ut non sem. Morbi nec nunc ac felis lobortis rhoncus in et ipsum. Curabitur placerat mi in dui faucibus vestibulum. Cras ornare nibh ut elit porta elementum. Cras quis nibh id ipsum ultrices aliquam. In hac habitasse platea dictumst. Sed ac metus magna. Pellentesque semper purus diam, vel dictum nunc.  
              </div>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="{{STATIC_URL}}css/img/img-reconocimiento-1.jpg" />
            </div>
            <div class="info">
              <h4>RECONOCIMIENTO</h4>
              <div>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam egestas nunc, quis gravida enim aliquet nec. Duis lorem ligula, volutpat a pulvinar ac, volutpat vel quam. Praesent eget lacus quis diam euismod hendrerit ut non sem. Morbi nec nunc ac felis lobortis rhoncus in et ipsum. Curabitur placerat mi in dui faucibus vestibulum. Cras ornare nibh ut elit porta elementum. Cras quis nibh id ipsum ultrices aliquam. In hac habitasse platea dictumst. Sed ac metus magna. Pellentesque semper purus diam, vel dictum nunc.  
              </div>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="{{STATIC_URL}}css/img/img-reconocimiento-1.jpg" />
            </div>
            <div class="info">
              <h4>RECONOCIMIENTO</h4>
              <div>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam egestas nunc, quis gravida enim aliquet nec. Duis lorem ligula, volutpat a pulvinar ac, volutpat vel quam. Praesent eget lacus quis diam euismod hendrerit ut non sem. Morbi nec nunc ac felis lobortis rhoncus in et ipsum. Curabitur placerat mi in dui faucibus vestibulum. Cras ornare nibh ut elit porta elementum. Cras quis nibh id ipsum ultrices aliquam. In hac habitasse platea dictumst. Sed ac metus magna. Pellentesque semper purus diam, vel dictum nunc.  
              </div>
            </div>
          </div>
        </div>  
      </div>
      <div class="w-aside">
        <div class="w-block-padding">
          <h3>Ubicación y datos de TELVICOM</h3>
          <div class="w-block-s">
            <h4>Oficina central</h4>
            <div>
              Los Halcones 484 Urb. Limatambo, Surquillo Lima - Perú <br />
              Telf: (51) 1618-9090   <br />
              Fax: (51) 1222-1867  <br />
              E-mail:info@telvicom.com
            </div>
          </div>
          <div class="w-block-s">
            <h4>Horarios de Atención</h4>
            <div>
              Lunes - Viernes <br />
              08:30 am - 6:00 pm
            </div>
          </div>
          <div class="w-block-s">
            <h4>Ubicación</h4>
            <div class="img">
              <img src="{{STATIC_URL}}css/img/map-small.png" />
            </div>
          </div>
          <div class="w-block-s">
            <h4>Nuestra Sede</h4>
            <div class="img">
              <img src="{{STATIC_URL}}css/img/img-sede.jpg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <!-- END -->

</div>
{% endblock %}
