{% extends 'website/base.html' %} 
{% block css %}
<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/luis.css?id=1"/>  
{% endblock %}
{% block content %} 
<div class="w-search"> 


  <div class="w-header">
    <div class="w-title">
      
        <h1>
			<span class="inner">Resultado de Búsqueda</span>		
		</h1>
		<div class="inner">
			<div class="b-results">
			  <span class="text">Buscaste:</span>
			  <span class="results">
				<strong>xdcam</strong>,
				<strong>hd/sd</strong>,
				<strong>sxdcam</strong>,
				<strong>xdcam</strong>,
				<strong>hd/sd</strong>
			  </span>
			</div>
		</div>
    </div>
    <div class="w-submenu-2 m-big">
      <div class="inner">
		<div class="cnt_tabs cnt_tabs_description ">
			<ul class="cf list_tabs tabs_description">
				<li class="selected"><a class="tab display" href="#" rel="#informacion_general">en PRODUCTOS Y SERVICIOS (9)</a></li>
				<li class=""><a class="tab display" href="#" rel="#informacion_general">en PROYECTOS REALIZADOS (12)</a></li>
				<li class="last"><a class="tab" href="#" rel="#informacion_adicional">en NOTAS DE ACTUALIDAD</a></li>
			</ul>
		</div>
	  
	  
        <!--<ul>
          <li>
            <a class="active"href="nosotros.html">en PRODUCTOS Y SERVICIOS (9)</a>
          </li>
          <li>
            <a href="reconocimientos.html">en PROYECTOS REALIZADOS (12)</a>
          </li>
          <li>
            <a href="clientes.html">en NOTAS DE ACTUALIDAD</a>
          </li> 
        </ul>-->
      </div>
    </div>
  </div> 


  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">
      <div class="inner">
        <div class="w-full-info">
          <div class="w-search">
			<div class="clearfix paginationControl">
				<!--Avisos del  al  de  | Pagina  de -->
				<p class="search_result_paginator">
					<span class="text">páginas</span>
				<!-- Enlace para la primera pagina -->
					<a href="#" class="back"><</a>  						  
				<!-- Enlace para paginas -->
					<span class="active">1</span>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
				<!-- Enlace para la ultima pagina -->
					<a  href="#" class="next">></a>  	
				</p>
			</div>
		  
            <div class="row">
                <div class="img">
                  <img src="{{STATIC_URL}}css/img/img_searchresult_item.jpg" />
                </div>
                <div class="info">
                  <h3><a href="#">Nombre del Producto</a></h3>
				  <div class="category">
					  <h4>Categoría</h4>
					 <a href="" class="tag">HVR-S270AN</a>
				  </div>
                  <div class="detail">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                  </div>
                </div>            
            </div> 
			<div class="row">
                <div class="img">
                  <img src="{{STATIC_URL}}css/img/img_searchresult_item.jpg" />
                </div>
                <div class="info">
                  <h3><a href="#">Nombre del Producto</a></h3>
				  <div class="category">
					  <h4>Categoría</h4>
					 <a href="" class="tag">HVR-S270AN</a>
				  </div>
                  <div class="detail">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                  </div>
                </div>            
            </div>
			<div class="row">
                <div class="img">
                  <img src="{{STATIC_URL}}css/img/img_searchresult_item.jpg" />
                </div>
                <div class="info">
                  <h3><a href="#">Nombre del Producto</a></h3>
				  <div class="category">
					  <h4>Categoría</h4>
					 <a href="" class="tag">HVR-S270AN</a>
				  </div>
                  <div class="detail">
                     Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                  </div>
                </div>            
            </div>
			
			<div class="clearfix paginationControl">
				<!--Avisos del  al  de  | Pagina  de -->
				<p class="search_result_paginator">
					<span class="text">páginas</span>
				<!-- Enlace para la primera pagina -->
					<a href="#" class="back"><</a>  						  
				<!-- Enlace para paginas -->
					<span class="active">1</span>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
				<!-- Enlace para la ultima pagina -->
					<a  href="#" class="next">></a>  	
				</p>
			</div>
          </div>  
        </div> 
      </div> 
  </div> 
  <!-- END -->

</div>
{% endblock %}
