  <div class="w-header">
    <div class="w-title">
      <div class="inner">
        <h1>{{ title|default:"Nosotros" }}</h1>
      </div>
    </div>
    <div class="w-submenu">
      <div class="inner">
        <ul>
          <li>
            <a class="active"href="nosotros.html">Presentación</a>
          </li>
          <li>
            <a href="reconocimientos.html">Reconocimientos</a>
          </li>
          <li>
            <a href="clientes.html">Nuestros Clientes</a>
          </li>
          <li>
            <a href="marcas.html">Marcas Representadas</a>
          </li>
          <li>
            <a href="contacto.html">Contáctenos</a>
          </li>
        </ul>
      </div>
    </div>
  </div> 