@import "bootstrap.less";
body,input,textarea{#font .sans-serif();line-height:inherit;font-size:13px;}
html, body { margin: 0; padding: 0;}
a{text-decoration:none;color:#00aeee;}
a img{border:0;}
h1{margin:0;}
h2{margin:10px 0;}
/*Common*/
.inner{width:980px;position:relative;margin:auto;}
.icon{background: url(img/layout.png);display: inline-block; width: 14px; height: 13px; vertical-align: middle;
  &.i-home{background-position: 0 -370px;}
  &.i-facebook{background-position: 0 -297px; width: 23px; height: 23px; }
  &.i-twitter{background-position: 0 -508px; width: 23px; height: 23px;}
  &.i-arrowdown{background-position: 0 -51px; width: 9px; height: 6px;}
  &.i-find{background-position: 0 -433px; width: 25px; height: 25px;}
}
.menu,.menu ul{margin:0;padding:0;list-style:none;
  li{
  }
}
.list{border:1px solid #d8d5d5;padding:0;
  ul{list-style:none;margin:0;padding:0;}
  li{ 
    a{display: block;background:#eaeaea url(img/icon-bullet-footer.png) 5px center no-repeat;
      border-top:1px solid #d8d5d5; padding:5px 20px;
      &:hover{background-image:url(img/icon-bullet-white.png);background-color:#00aeee;color:#fff;}
    }
    &:first-child a{border-top:0;}
  }
}

.paginationControl{padding: 0 0;
  .search_result_paginator { float: right; list-style: none outside none; padding-top: 0; 
    .text{color: #000; background: transparent;}
    span,a { color: @white; display: inline-block; font-size: 11px; font-family: "Trebuchet MS", arial; 
      margin-right: 2px; padding: 1px 4px 1px;text-decoration: none; background: #00aeee;}  
    a { color: @white; }
    a.back, a.next{color: #00aeee; background: @white;}
    a:hover { color: @black;background: @white; }
    span.active { color: @black; font-weight: bold;background: @white; }
    a:last-child{border:none;}
  }
}
.paginator-footer{padding:50px 0;}
.social{
  .button{float:left;width:120px;}
}

/*Header*/
#header{background: #3d3f40 url(img/bg-head.png) 700px 0 no-repeat;border-bottom: 1px solid #cacbca;
  .inner{background:url(img/bg-head.png) 193px 0 no-repeat;height:90px;}
  .logo{position: absolute;top:34px;left:4px;width:168px;background:url(img/logo.png);
    a{display: block;height:25px;text-indent:-99999px;}
  }
  .topnav{font-size:11px;color:#b2b1b1;position: absolute;left:210px;top:8px;
    .i-home{vertical-align:baseline;margin-top:2px;}
    a{color:#b2b1b1;display: inline-block;vertical-align: middle;padding:0 14px;}
  }
  .social{position: absolute;right:0;top:7px;color:#bfbfbf;font-size:11px; width: 200px;text-align: right;
    span,a{vertical-align:middle;display: inline-block;
      &.icon{border:1px solid #9e9fa0;}
    }
  }
  .nav{position: absolute;top:39px;left:192px;font-family:'Trebuchet MS';font-weight:bold;
    ul{list-style:none;margin:0;padding: 0px;
      li{float:left; background:url(img/sep-nav.png) no-repeat;
        &.active{
          &:hover{background:url(img/sep-nav.png) repeat-x left bottom;}
        }
        a{color:#004961;display: block;padding:0 13px;line-height:51px;height:51px;
          &:hover{background:url(img/sep-nav.png) repeat-x left bottom;}
        }
        &:first-child{background:none;}
        &.show-panel:hover{
          .panel{display: block;}
        }
      }
      .panel{position:absolute;z-index:99999;border:2px solid #000;border-width:0 2px 2px 2px;
        width:974px;left:-210px;background:#eae9e9;padding:15px 20px;display:none;
        .block{float:left;border-left:1px solid #ddd;padding:0 15px;min-height:342px;
          &:first-child{border:0;padding-left:0;}
          .item{border-top:1px solid #ddd;padding: 20px 0px;
            &:first-child{border:0;}
          }
        }
        ul{list-style-image:url('img/icon-bullet-footer.png');margin-left:58px;}
        li{float:none;font-size:12px;background:none;
          a{padding-left:0;}
        }
        h4{background: url('img/icon-camera.png') no-repeat left center;padding-left:22px;margin-left:0px;
          font-weight:bold;margin:5px 0;
          a{font-weight:bold;
          }
        }
        a{background:none;height:auto;line-height:145%;font-weight:normal;color:#333; 
            &:hover{color:#00aeee;text-decoration:underline;background:none;}
        }
      }
    }
  }
  .search{position: absolute;right:0;top:50px;
    .input{width:170px;padding:0px 20px 0px 5px;height:25px;line-height:25px;background-color: #fafbfc;border:1px solid #ccc;}
    .button{position:absolute;right:5px;top:1px;border:0;background-color:transparent;}
  }
}
.breadcrumb{font-size:10px;height:26px;line-height:26px;
  strong{color:#c1eeff;font-weight:normal;margin-left:5px;}
  a{color:#fff;background:url(img/arrow-breadcrumb.png) right center no-repeat ;padding-right:10px;}
}
.w-social{position: absolute;right:0; width:280px;top:-25px;
  .s-button{width:110px;overflow: hidden;float:left;}
  .fb_iframe_widget span{vertical-align:baseline;}
  .s-gplus{width:60px;}
}
.brief{color:#565656;margin-bottom:20px;
  a{font-weight:bold;text-decoration:underline;}
}
#footer{background:#141414;color:#fff;
  .brands{background:#01212e;height:108px;color:#6f828b;
    h4{margin:0;padding:15px;text-align:center;font-size:16px;}
  }
  .footer-links{padding-top:20px;
    a{color:#7fa8b5;}
  }
  .f-links{background-color: #1d1d1d;padding:10px 20px;margin:0 15px;
    .block{float:left;width:200px;
      h3{margin:0;font-size:13px;}
      ul{margin:10px 0 0 16px;font-size:12px;padding:0;list-style-image: url('img/icon-bullet-footer.png');}
      &.last{padding-left:30px;
        a{color:#fff;}
        h3{margin-bottom:20px;font-weight:normal;}
      }
      &.extend{border:1px solid #303030;border-width:0 1px;width:385px;padding:0 40px;min-height:120px;
        li{float:left;width:184px;}
      }
    }
  }
  .f-address{padding:40px 0 40px 0;
    .address{color:#a3a3a3;text-align:right;position: absolute;right:210px;top:30px;line-height:16px;
      a{color:#00aeee;}
    }    
    .interactiva{background:url(img/logo-interactiva.png);width:30px;
      a{display: block;height:34px;text-indent:-9999px;}
    }
    .logo{text-indent:-9999px;height:25px;position:absolute;width:167px;background:url(img/logo-footer.png);right:20px;top:40px;}
  }
}
.w-content{.clearfix();padding: 20px 0px 20px 0px;
  h2,h3,h4{color:#00aeee;}
  .w-block-s{line-height:140%;
    h4{margin:0 0 5px 0;color:#72c6a2;font-size:14px;}
    .img{position: relative;margin-left:-10px;}
  }
  .b-img h4{padding:10px 0;}
  .row{padding:10px 0;.clearfix();

}
.w-info{float: left;width:600px;
}
.w-aside{float: right;width:312px;  
  .w-block-s{margin-bottom:10px;}
}
.w-nav{.columns;width:232px;
  .menu{border:1px solid #00aeee;padding:1px;margin-bottom:10px;
    li{border-top:1px solid #fff;
      &:first-child{border-top:0;}
      ul{border:0;  }
      li{
        a{#gradient > .vertical(#00aeee,#00aeee);padding:8px 15px;}
        span{background:none;}
      }
    }
    a{font-weight:bold;display: block;color:#fff;#gradient > .vertical(#547986,#015777);
      span{background:url(img/icon-arrow-nav.png) 5px 13px no-repeat;display:block;padding:8px 20px;}
    }
  }
  .w-proyectos{
    h4{color:#a3a3a3;font-size:13px;}
    .proyecto{border:1px solid #d8d5d5;position: relative;width:228px;
      .img{border:1px solid #fff;
        img{display:block;}
      }
      .label{color:#fff;position:absolute;width:226px;bottom:1px;left:1px;background:#000;background:rgba(0,0,0,0.8); 
        h4{margin:0;padding:5px 7px 0 7px;color:#fff;font-size:15px;}
        .info{padding:0px 7px 7px 7px;
          a{ }
        }
      }
    }
    .proyecto-skin{color:#fff;border:1px solid #d8d5d5;padding:1px;position: relative;
      .border{#gradient > .vertical(#004a63,#00adec);}
      h4{margin: 0px;padding:5px 0;color:#fff;}
      .img{.columns}
      .label{margin-left:60px;}
      .more{height:30px;
        a{display: block;text-indent:-9999px;background:url(img/layout.png) -0 -106px;position: absolute;
          bottom:3px;right:1px;width:16px;height:16px;}
      }
    }
  }
}
.w-section{.columns;width:728px ;
  h1{color:#00aeee;font-size:20px;margin:15px 0;}
}
.w-clients-logos{
    &:first-child{padding-top:0;}
    h5{color:#00aeee;padding:10px 0;font-size:13px;margin:0;}
    .imgs{position: relative;margin-left:-15px;
      div{float:left;margin-left:25px;
        &:first-child{margin-left:0;}
        img{border:1px solid #ccc;display: block;}
      }
    }
  }
}
.w-home{
  .slider-wrapper{background:url(img/bg-slider.png);
    .slider{height:350px;}
    .slide{position: absolute;left:0;left:0;
      .info{position: absolute;top:80px;left:0;width:480px;
        h3{margin:0;}
        h3{color:#00aeee;font-size:40px;line-height:40px;}
        p{font-size:20px;margin:10px 0;}
        .link{font-size:14px;font-weight:bold;
          a{color:#f06e17;text-decoration:underline;}
        }
      }
    }
    .slider-controllers{position: absolute;bottom:10px;left:10px;z-index:9999;
      .active img{border-color:#2eb9ec;}
      img{border:4px solid #e3e3e3;margin-right:5px;}
    }
  }
  .h-links{background:url(img/bg-links.jpg);.clearfix();height:164px;z-index:99999;position: relative;
    .inner{padding-top:25px;.clearfix();}
    .link{float:left;border:1px solid #a3a3a3;width:315px;margin-left:14px;
      &:first-child{margin-left:0;}
      a{display:block;border:1px solid #fff;color:#fff;background-color: #398d89;.clearfix();
        .img{float:left;border:0;}
        .info{margin-left:122px;width:180px;line-height:15px;}
        strong{font-size:20px;line-height:22px;margin:5px 0;}
        span,strong,img{display:block;}
      }
    }
  }
}
.w-header{ 
  .w-title{background: #00AEEE url(img/bg-subtitle.png);
    h1{height:54px;line-height:54px;font-size:20px;color:#fff;text-transform:uppercase;}
  }  
  .w-submenu{background-color: #00aeee;
    ul{margin:0;list-style:none;.clearfix();padding:0;}
    li{float: left;width:195px;
      a{color:#fff;font-weight:bold;text-align:center;display: block;padding:5px 0;border-left:1px solid #fff;
        &:hover,&.active{color:#004961;background:url(img/bg-subtitle.png) left bottom;}
      }
    }
    li:first-child a{border:0;}
  }
    
}
.w-clients-type{
  h3{margin-bottom:0;}
}
.w-awards-type{
  .item{.clearfix();line-height:14px;margin-bottom:40px;
    h4{margin-top:0px;} 
    .img{float:left;}
    .info{margin-left:190px;}
  }
}
.w-marcas{
  .item{float: left;width:490px;
    .info{margin-left:200px;border-left:1px solid #ccc;padding-left:10px;}
  }
}
.w-contacto-form{
  h4{color:#72c6a2;}
  .textarea,.input,.select{padding:5px 10px;background-color: #e4fef3;border:1px solid #ccc;margin:0 0 10px 0;}
  .input{width:460px;
    &:active{border:1px solid #000;background:#baeafb;}
    &:focus{border:1px solid #000;background:#baeafb;}
  }
  .label{margin-bottom:5px;margin-left:5px;}
  .select{min-width:480px; }
  .textarea{width:460px;min-height:200px; }
  .btn{background:url(img/bg-button.jpg);height:54px;line-height:54px;width:480px;color:#fff;
    font-size:18px;font-weight:bold;cursor: pointer;text-transform:uppercase;border:1px solid #eee;
  }
  .b-checkbox{margin:10px 0 30px;}
  .s-medium{min-width:300px;}
  .s-small{min-width:50px;}
  .block{margin-left:20px;}
  .w-btn{display: inline-block;border:1px solid #a3a3a3;background:#d8d5d5;}
}
.w-hightlight{
  h3{background:#646466 url(img/bg-header-aside.png) no-repeat;padding:45px 0 10px 15px;margin:0;color:#56e6a8;
    a{color:#fff;}
  }
  .w-hight-list{padding:20px;background:#64b190 url(img/bg-aside-content.png);min-height:700px;
    ul{list-style-image:url(img/img-bullet-aside.png);margin-left:16px;color:#fff;
      text-shadow:0 0 1px #666;padding:0;
      li{margin:0 0 20px 0;}
    }
  }
}
.w-catalogo{  
  h2{color:#72c6a2;}
  .categorias{
    .cat{margin-bottom:10px;background:#f8f8f8;padding:10px;min-height:245px;.clearfix();
      .col{.columns();}
      .img{border:1px solid #d8d5d5; width:300px;
        img{display: block;}
      }
      .info{width:290px;margin-left:40px;
        h3{font-size:16px;
          a{color:#363736;}
        } 
      }
      .list{width:285px;margin-left:40px; 
      }
    }
  }
}

.w-subcate{
  .item{.columns;width:232px;height:207px;margin:0 0 24px 13px;border:1px solid #d8d5d5;position: relative;
    &.first{margin-left:0px;}
    .img{
      img{display: block;}
    }
    .title{#gradient > .vertical(#f8f8f8,#ebe9e9);bottom:1px;left:1px;position:absolute;margin:0;
      width:230px;font-size:14px;font-weight:bold; 
      a{height:48px;display: block;background:url(img/icon-arrow.png) right bottom no-repeat;
        text-decoration:underline;padding:10px;
        span{position:absolute;color:#000;font-size:11px;right:20px;bottom:3px;
          text-decoration:none;font-weight:normal;}
      }
    }
  }
}
.w-proyectos-rd .submit-proy{border:0;}
.w-proyectos-rd{
  h2{padding:0;}
  .row{
    a{text-decoration:underline;font-weight:bold;}
  }
  .box_l{width:530px;}
  .brief{color:#000;padding:15px 0;border-bottom:1px solid #999;margin-bottom:10px;}
}

.w-boxes{padding-bottom:50px;
  .box{border-bottom:1px solid #ccc; padding:50px 0;
  }
}