<div class="clearfix paginationControl">
  <!--Avisos del  al  de  | Pagina  de -->
  <div class="search_result_paginator">
    <span class="text">páginas</span>
  <!-- Enlace para la primera pagina -->
    <a href="#" class="back"><</a>                
  <!-- Enlace para paginas -->
    <span class="active">1</span>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
  <!-- Enlace para la ultima pagina -->
    <a  href="#" class="next">></a>   
  </div> 
</div>